
*.ide-shm
WebApiMVC/KDSWebApiMVC/.vs/KDSWebApiMVC/v15/.suo
WebApiMVC/KDSWebApiMVC/.vs/KDSWebApiMVC/DesignTimeBuild/.dtbcache
WebApiMVC/KDSWebApiMVC/.vs/KDSWebApiMVC/v15/Server/sqlite3/storage.ide-wal
WebApiMVC/KDSWebApiMVC/.vs/KDSWebApiMVC/v15/Server/sqlite3/storage.ide-shm
