
KDSApi/.vs/KDSApi/DesignTimeBuild/.dtbcache
WebApiMVC/KDSWebApiMVC/.vs/KDSWebApiMVC/v15/.suo
WebApiMVC/KDSWebApiMVC/.vs/KDSWebApiMVC/v15/.suo
*.ide-shm
*.ide-wal
WebApiMVC/KDSWebApiMVC/.vs/KDSWebApiMVC/v15/.suo
*.pdb
WebApiMVC/KDSWebApiMVC/KDSWebApiMVC/obj/Debug/KDSWebApiMVC.dll
